<div id="project_stats" class="space-y-4 sm:space-y-8 bg-white p-5 border border-black border-2 hidden sm:block">
  <div>
    <h3 class="text-md font-semibold mb-4">Stats</h3>
    <p>Project Start: <%= project_start_date %></p>
    <p>Progress Reports: <%= Post.count %></p>
    <p>Hours: <%= Post.hours_spent.round(1) %> (<%= project_progress_percentage %>% to 10k hours)</p>
    <p>Dollars Spent: <%= number_to_currency(Post.dollars_spent, precision: 2) %></p>
    <p>Dollars per Hour: <%= number_to_currency(Post.dollars_per_hour, precision: 2) %></p>
  </div>
  <div>
    <h3 class="text-md font-semibold mb-4">Time Invested</h3>
    <!-- TODO: make colors customizable -->
    <%= column_chart Post.group_by_week(:created_at, week_start: :monday, format: "%b %d").sum(:hours), suffix: ' hours', colors: ["#fcba03"] %>
  </div>
  <div>
    <h3 class="text-md font-semibold mb-4">Money Invested</h3>
    <!-- TODO: make colors customizable -->
    <%= column_chart Post.group_by_week(:created_at, week_start: :monday, format: "%b %d").sum(:dollars), prefix: '$', colors: ["#07e06c"] %>
  </div>
</div>
