<%= form_with model: @post do |form| %>
  <div class="mb-4">
    <%= form.label :title, class: 'block text-sm font-medium text-gray-700' %>
    <%= form.text_field :title, required: true, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm', placeholder: 'Built a bee trap' %>
  </div>

  <div class="mb-4 flex gap-x-2">
    <div class="w-full">
      <%= form.label :dollars, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.number_field :dollars, step: :any, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm', placeholder: '132.47' %>
    </div>

    <div class="w-full">
      <%= form.label :hours, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.text_field :hours, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm', placeholder: 'Built a bee trap' %>
    </div>
  </div>

  <div class="mb-4">
    <%= form.rich_text_area :content, required: true, class: 'min-h-80', placeholder: 'Today I decided to stop making excuses about not being Jesus, the carpenter and I...' %>
  </div>

  <div class="mb-4 flex gap-x-2">
    <div>
      <%= form.label 'Publish Date', class: 'block text-sm font-medium text-gray-700' %>
      <%= form.date_field :published_at, required: true, value: @post.published_at.try(:to_date) || Date.today %>
    </div>
    <div>
      <%= form.label 'Feature on Timeline', class: 'block text-sm font-medium text-gray-700' %>
      <%= form.check_box :featured %>
      <small>If checked, this update will be highlighted on your feed's visual timeline.</small>
    </div>
  </div>

  <div class="flex">
    <div>
      <%= link_to 'Delete', post_path(@post.slug), class: 'cursor-pointer inline-flex items-center rounded-md border border-transparent bg-red-500 hover:bg-red-600 px-3 py-2 text-sm font-medium leading-4 text-black shadow-sm focus:outline-none', data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure you want to delete this post?' } if @post.id? %>
    </div>
    <div class="flex-1 text-right">
      <%= form.submit class: 'cursor-pointer inline-flex items-center rounded-md border border-transparent bg-brand-blue hover:bg-brand-blue-light px-3 py-2 text-sm font-medium leading-4 text-black shadow-sm focus:outline-none' %>
    </div>
  </div>
<% end %>
