<div class="mb-8 bg-white p-5 border border-black border-2 <%= 'mx-auto max-w-3xl' if single_post? %>">
  <div class="mb-4">
    <% if single_post? %>

      <div class="sm:flex">
        <div class="order-2 flex-1 text-left sm:text-right">
          <small><%= post.published_at.strftime('%B %d, %Y') %></small>
        </div>
        <div class="order-1">
          <h3 class="mb-8 font-title cursor-pointer text-xl font-bold">
            <%= link_to post.title, post_path(post.slug) %>
          </h3>
        </div>
      </div>

      <div id="post_content">
        <%= post.content %>
      </div>

    <% elsif post.recurring? %>

      <div class="flex">
        <div class="">
          <p class="font-bold"><%= post.title %></p>
        </div>
        <div class="flex-1 text-right">
          <small><%= post.published_at.strftime('%B %d, %Y') %></small>
        </div>
      </div>

      <p><%= post.meta_description %></p>
    <% else %>
      <div class="sm:flex justify-between gap-x-3">
        <div class="sm:basis-3/6 sm:order-2">
          <h3 class="font-title cursor-pointer text-md sm:text-2xl font-bold">
            <%= link_to post.title, post_path(post.slug) %>
          </h3>
          <small class="sm:hidden"><%= post.published_at.strftime('%B %d, %Y') %></small>
          <p class="hidden sm:block"><%= post.truncated_preview %></p>
        </div>
        <% if post.featured_image_url %>
          <div class="sm:basis-2/6 sm:order-1">
            <%= link_to post_path(post.slug) do %>
              <%= image_tag post.featured_image_url, class: 'mt-4 sm:mt-0 w-full drop-shadow-lg rounded-md origin-center object-cover h-48 sm:max-h-lg' %>
            <% end %>
            <p class="sm:hidden mt-4"><%= post.truncated_preview %></p>
          </div>
        <% else %>
          <p class="sm:hidden mt-4"><%= post.truncated_preview %></p>
        <% end %>
        <div class="order-last sm:basis-1/6">
          <small class="hidden sm:block sm:text-right"><%= post.published_at.strftime('%B %d, %Y') %></small>
        </div>
      </div>
    <% end %>
  </div>

  <div class="flex">
    <div class="">
      <small>
        Spent: <%= number_to_currency(post.dollars) %> |
        Time: <%= post.hours %> hours
      </small>
    </div>

    <div class="flex-1 text-right">
      <% if current_user %>
        <%= link_to 'Edit this post', edit_post_path(post), class: 'underline' %>
      <% end %>

      <%= link_to 'View all posts', root_path, class: 'underline' if single_post? %>
    </div>
  </div>
</div>
