<div class="my-8 max-w-3xl">
  <h3 class="text-2xl font-bold"><%= link_to post.title, post_path(post.slug) %></h3>
  <%= post.content %>

  <small>
    Spent: <%= number_to_currency(post.dollars) %> |
    Time: <%= post.hours %> hours
  </small>
</div>

<% if current_user %>
  <%= link_to 'Edit this post', edit_post_path(post), class: 'underline' %>

  <% if params[:action] == 'show' %>
    | <%= link_to 'View all posts', root_path, class: 'underline' %>
  <% end %>
<% end %>
