<% meta title: '10k Hours', description: project_description %>

<meta name="twitter:title" content="<%= project_name %> | 10k Hours">
<meta name="twitter:image" content="<%= image_url 'open-graph.jpg' %>">
<meta property="og:description" content="<%= project_description %>">
<meta name="og:image" content="<%= image_url 'open-graph.jpg' %>">

<%= render partial: "shared/intro" %>

<div class="pt-4 sm:flex gap-x-8">
  <%= render "tabs" %>

  <div class="basis-1/6">
    <%= render "progress_bar" %>
    <%= render "timeline" %>
  </div>

  <div id="project_updates" class="basis-4/6">
    <%= render @posts %>
    <%== pagy_nav(@pagy) %>
  </div>

  <div class="basis-1/6">
    <%= render partial: "shared/about" %>
    <%= render partial: "shared/stats" %>
  </div>
</div>

<%= render "tabs_js" %>
